:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: white;
  margin-top: 70px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: var(--very-dark-blue);
}

h2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
}

p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
  color: var(--grayish-blue);
}

strong {
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  column-count: 3;
  grid-template-rows: auto;
  gap: 15px;
  align-items: center;
  margin: 50px 200px 100px 200px;
}

div.container {
  display: grid;
  align-items: center;
  gap: 40px;
}

div.card {
  width: 450px;
  height: 240px;
  background-color: var(--very-light-gray);
  border-radius: 5px;
  padding: 10px;
}

div.card h1,
div.card p {
  justify-content: left;
}

div.card img {
  margin-left: 380px;
}

div#card1 {
  border-top: solid 8px;
  border-color: var(--cyan);
  box-shadow: 3px 3px 20px 3px lightgray;
}

div#card2 {
  border-top: solid 8px;
  border-color: var(--red);
  box-shadow: 3px 3px 20px 3px lightgray;
}

div#card3 {
  border-top: solid 8px;
  border-color: var(--orange);
  box-shadow: 3px 3px 20px 3px lightgray;
}

div#card4 {
  border-top: solid 8px;
  border-color: var(--blue);
  box-shadow: 3px 3px 20px 3px lightgray;
}
